@keyframes headerNoOpacity {
    0% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes header-effect {
    0% {
        opacity: 0;
        filter: alpha(opacity=0);
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        filter: none;
        transform: translateY(0);
    }
}
